# Ignorevirtualenv
.env/
.venv
venv
.venv

# Ignore IDE
.idea
.code

# Ignore file cache Python
__pycache__/
*.pyc

# Ignore files
*.csv
*.jpg
*.png
*.zip

# Ignoruj pliki tymczasowe edytorów
*.log
*.swp
*.swo
